*.wav filter=lfs diff=lfs merge=lfs -text
tesseract-5.0.0-alpha-20201231/* filter=lfs diff=lfs merge=lfs -text
music/rivalG4.wav filter=lfs diff=lfs merge=lfs -text
music/title1.wav filter=lfs diff=lfs merge=lfs -text
music/title3.wav filter=lfs diff=lfs merge=lfs -text
music/bossG4.wav filter=lfs diff=lfs merge=lfs -text
music/city10.wav filter=lfs diff=lfs merge=lfs -text
music/city4.wav filter=lfs diff=lfs merge=lfs -text
music/eliteG5.wav filter=lfs diff=lfs merge=lfs -text
music/city9.wav filter=lfs diff=lfs merge=lfs -text
music/route9.wav filter=lfs diff=lfs merge=lfs -text
music/trainerG3.wav filter=lfs diff=lfs merge=lfs -text
music/route10.wav filter=lfs diff=lfs merge=lfs -text
music/wildG4.wav filter=lfs diff=lfs merge=lfs -text
music/title6.wav filter=lfs diff=lfs merge=lfs -text
music/wildG3.wav filter=lfs diff=lfs merge=lfs -text
music/city11.wav filter=lfs diff=lfs merge=lfs -text
music/city12.wav filter=lfs diff=lfs merge=lfs -text
music/route1.wav filter=lfs diff=lfs merge=lfs -text
music/route11.wav filter=lfs diff=lfs merge=lfs -text
music/champG4.2.wav filter=lfs diff=lfs merge=lfs -text
music/city14.wav filter=lfs diff=lfs merge=lfs -text
music/gymG5.wav filter=lfs diff=lfs merge=lfs -text
music/wildG4.2.wav filter=lfs diff=lfs merge=lfs -text
music/gymG8.wav filter=lfs diff=lfs merge=lfs -text
music/title2.wav filter=lfs diff=lfs merge=lfs -text
music/trainerG5.wav filter=lfs diff=lfs merge=lfs -text
music/wildG5.wav filter=lfs diff=lfs merge=lfs -text
music/city3.wav filter=lfs diff=lfs merge=lfs -text
music/city5.wav filter=lfs diff=lfs merge=lfs -text
music/city8.wav filter=lfs diff=lfs merge=lfs -text
music/gymG4.2.wav filter=lfs diff=lfs merge=lfs -text
music/zinnia.wav filter=lfs diff=lfs merge=lfs -text
music/city13.wav filter=lfs diff=lfs merge=lfs -text
music/city2.wav filter=lfs diff=lfs merge=lfs -text
music/commanderG4.wav filter=lfs diff=lfs merge=lfs -text
music/eliteG3.wav filter=lfs diff=lfs merge=lfs -text
music/marnie.wav filter=lfs diff=lfs merge=lfs -text
music/route8.wav filter=lfs diff=lfs merge=lfs -text
music/trainerG4.2.wav filter=lfs diff=lfs merge=lfs -text
music/rivalG3.wav filter=lfs diff=lfs merge=lfs -text
music/rivalG5.wav filter=lfs diff=lfs merge=lfs -text
music/route12.wav filter=lfs diff=lfs merge=lfs -text
music/trainerG4.wav filter=lfs diff=lfs merge=lfs -text
music/champG3.wav filter=lfs diff=lfs merge=lfs -text
music/city1.wav filter=lfs diff=lfs merge=lfs -text
music/eliteG5.2.wav filter=lfs diff=lfs merge=lfs -text
music/gymG3.wav filter=lfs diff=lfs merge=lfs -text
music/gymG3.2.wav filter=lfs diff=lfs merge=lfs -text
music/gymG4.wav filter=lfs diff=lfs merge=lfs -text
music/gymG5.2.wav filter=lfs diff=lfs merge=lfs -text
music/route4.wav filter=lfs diff=lfs merge=lfs -text
music/route5.wav filter=lfs diff=lfs merge=lfs -text
music/city6.wav filter=lfs diff=lfs merge=lfs -text
music/title4.wav filter=lfs diff=lfs merge=lfs -text
music/route3.wav filter=lfs diff=lfs merge=lfs -text
music/route6.wav filter=lfs diff=lfs merge=lfs -text
music/champG4.wav filter=lfs diff=lfs merge=lfs -text
music/city15.wav filter=lfs diff=lfs merge=lfs -text
music/city7.wav filter=lfs diff=lfs merge=lfs -text
music/route2.wav filter=lfs diff=lfs merge=lfs -text
music/route7.wav filter=lfs diff=lfs merge=lfs -text
music/title5.wav filter=lfs diff=lfs merge=lfs -text
